[submodule "gomakefiles"]
	path = gomakefiles
	url = https://github.com/milanaleksic/gomakefiles.git
[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "vendor/github.com/milanaleksic/flowdock"]
	path = vendor/github.com/milanaleksic/flowdock
	url = https://github.com/milanaleksic/flowdock
[submodule "vendor/github.com/njern/httpstream"]
	path = vendor/github.com/njern/httpstream
	url = https://github.com/njern/httpstream
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/github.com/pelletier/go-toml"]
	path = vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "vendor/github.com/pelletier/go-buffruneio"]
	path = vendor/github.com/pelletier/go-buffruneio
	url = https://github.com/pelletier/go-buffruneio
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "vendor/github.com/pkg/sftp"]
	path = vendor/github.com/pkg/sftp
	url = https://github.com/pkg/sftp
[submodule "vendor/github.com/kr/fs"]
	path = vendor/github.com/kr/fs
	url = https://github.com/kr/fs
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "cmd/main/vendor/github.com/BurntSushi/toml"]
	path = cmd/main/vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "cmd/main/vendor/github.com/milanaleksic/igor"]
	path = cmd/main/vendor/github.com/milanaleksic/igor
	url = https://github.com/milanaleksic/igor
[submodule "cmd/main/vendor/github.com/aws/aws-sdk-go"]
	path = cmd/main/vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
